/*UNIVERSAL STYLES*/
* {
    margin: 0px;
    padding: 0px;  
    box-sizing: border-box;
}

main {
    position: relative;
    top: 50px;
}

section {
    height:100vh;
    width: 100vw;
}

h1, h2 {
    font-family: 'Cormorant Garamond', serif;
}

p {
    font-family: 'Khula', sans-serif;
    font-size: 0.9em;
    line-height: 1.5em;
}

.button {
    border: solid 1px #A45C40;
    background-color: #A45C40;
    color: #f6eee0;
    padding: 10px 20px;
    font-family: 'Cormorant Garamond', serif;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5%;
}

h3 {
    font-size: 1.5em;
    line-height: 2.5em;
}

/*NAV BAR SECTION*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    background-color: #A45C40;
}

.logo {
    font-family: 'Taviraj', serif;
    color: #f4b7a0;
    letter-spacing: .2rem;
    cursor: pointer;
    font-size: 0.8em;
    border: solid 1px;
    padding: 10px;
}

span {
    color: #f6eee0;
}

nav ul li a {
    color: #f6eee0;
}

ul li {
    display: inline-block;
}

li {
    list-style: none;
    padding-left: 60px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.hover {
    display: inline-block;
    position: relative;
    color: #f6eee0;
}

.hover::after {
    content:'';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom:0;
    left:0;
    background-color: #f6eee0;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.hover:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*HERO SECTION*/
.hero {
    background-color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #A45C40;
    height: 100vh;
    width: 100%;
}

.greeting {
    font-size: 1.7em;
    padding-bottom: 20px;
}

.introduction {
    font-size: 6em;
    font-weight: bold;
    line-height: 0.9em;
}

.sub-intro {
    font-size: 1.8em;
    color: #f4b7a0;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
}

/*ABOUT ME SECTION*/
.about-content {
    background-color: #f6eee0;
    color: #A45C40;
    height: 100vh;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
    place-items:center;
    padding: 50px 70px;
}

.column1 {
    text-align:center;
}

.about-content h2 {
    font-size: 3em;
}

.icons {
    color: #000000;
    font-size: 2em;
    letter-spacing: 0.7em;
}

.column2 img {
    border: 1px solid #A45C40;
    border-radius: 100%;
}

/*PROJECTS SECTION*/
.project-content {
    background-color: #fff;
    color: #A45C40;
    height: 100vh;
    width: 100%;
}

.project-content h2 {
    font-size: 3em;
    text-align: center;
    padding: 50px 0px;
}

.task {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    place-items: center;
}

/*CONTRIBUTIONS SECTION*/
.input-content {
    background-color: #f6eee0;
    color: #A45C40;
    height: 100vh;
    width: 100%;
}

/*CONTACT ME SECTION*/
.contact-content {
    background-color: #fff;
    color: #A45C40;
    height: 100vh;
    width: 100%;
}
 /*FOOTER*/
footer {
    background-color: #f4b7a0;
}
